/* Montserrat  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #222222;    
} 

::-webkit-scrollbar-thumb {
    background-color: #f6f6f6;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat";
}


/*MENU */
    /* top BAR */
    .carousel-item h3{
        background-color: #222222;
        color: #f6f6f6;
        font-size: 12px;
        text-align: center;
        padding: 10px;
        margin-bottom: 0px;
    }

    .navbar {
        background-color: #f6f6f6;
    }

    .navbar-brand:hover {
        transform: scale(1.09);
        transition: 0.3s;
    }

    .navbar-toggler {
        border: 0px;
    }



    .navbar a.navbar-brand{
        font-size: 35px;
        font-weight: bold;
    }

    .navbar-nav{
        width: 70%;        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /* NAV BAR */
    .navbar-collapse {
        font-size: 20px;
        transition: 0.2s;
    }

    .navbar-collapse .active{
        font-weight: bold;
    }

    .navbar-collapse a:hover{
        transform: scale(1.05);
        font-weight: bold;
        transition: 0.2s;
    }

    .boton-accion{
        
        height: 40px;
        width: 40px;
        background-color: #f6f6f6;
        color: #222222;
        text-align: left;
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 2px black;
        padding: 0px 10px;
        margin-right: 5px;
        text-align: center;
        
    }
    .boton-accion:hover{
        background-color: #222222;
        color: #f6f6f6;
    }

    /* CAROUSEL */
    .carousel-principal{
        margin-top: 50px;
    }
    .img1 {
        background-image: url(../img/slider_1.jpg);
        background-position: center;
        height: 80vh;
        background-size: cover;
    }
    .img2 {
        background-image: url(../img/slider_2.jpg);
        background-position: center;
        height: 80vh;
        background-size: cover;
    }
    .img3 {
        background-image: url(../img/slider_3.jpg);
        background-position: center;
        height: 80vh;
        background-size: cover;
    }

    .categorias {
        width: 100%;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 180px);
        grid-template-areas: 
        "img1 img1 img1 img1"
        "img2 img2 img2 img2"
        "img4 img4 img4 img4"
        "img5 img5 img5 img5"
        "img8 img8 img8 img8"; 

        
    
    }
    
    .item{              
        background-size: cover;
        background-position: center; 
        box-shadow:
        5.3px 2.8px 8.2px -55px rgba(0, 0, 0, 0.059),
        13.3px 7.1px 20.7px -55px rgba(0, 0, 0, 0.084),
        27.1px 14.5px 42.2px -55px rgba(0, 0, 0, 0.106),
        55.8px 29.9px 86.9px -55px rgba(0, 0, 0, 0.131),
        153px 82px 238px -55px rgba(0, 0, 0, 0.19)
        ;
        filter: grayscale(100%);
        display: flex;
        align-items: end;
        justify-content: center;               
        transition: 0.5s;
    }
    .item h3{
        background-color: #f6f6f6;
        width: 100%;
        padding: 5px 0px;
        font-size: 18px;
        text-align: center;
        transition: 0.5s;
    }

    .item h3:hover{
        background-color: #222222;
        color: #f6f6f6;
    }
    
    .item:hover {
        filter: grayscale(0);
        transition: 0.5s;
        
    }
    
    /* Linkeo las imagenes a cada item */
    
    .item1 {
        grid-area: img1;
        background-image: url(../img/categoria_1.jpg);
    
    }
    
    .item2 {
        grid-area: img2;
        background-image: url(../img/categoria_2.jpg);
    
    }
    .item3 {
        grid-area: img3;
        background-image: url(../img/categoria_3.jpg);
    
    }
    
    .item4 {
        grid-area: img4;
        background-image: url(../img/categoria_4.jpg);
    
    }
    .item5 {
        grid-area: img5;
        background-image: url(../img/categoria_5.jpg);
     
    }
    
    .item6 {
        grid-area: img6;
        background-image: url(../img/categoria_6.jpg);
    
    }
    .item7 {
        grid-area: img7;
        background-image: url(../img/categoria_7.jpg);
     
    }
    .item8 {
        grid-area: img8;
        background-image: url(../img/categoria_8.jpg);
     
    }


/* Destacados */
.productos-destacados{
    padding: 20px;
    
}

.lista-productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;        
    padding: 0px 10px;
}


.card{    
    height: auto; 
    width: 45%;       
    margin-bottom: 10px;    
    transition: 0.2s;
    border-radius: 0px;
    
    
}
.card:hover {
    box-shadow:
    0.1px 0.2px 2.2px rgba(0, 0, 0, 0.02),
    0.3px 0.5px 5.3px rgba(0, 0, 0, 0.028),
    0.5px 0.9px 10px rgba(0, 0, 0, 0.035),
    0.9px 1.6px 17.9px rgba(0, 0, 0, 0.042),
    1.7px 2.9px 33.4px rgba(0, 0, 0, 0.05),
    4px 7px 80px rgba(0, 0, 0, 0.07);
    transform: scale(1.01);
    transition: 0.2s;

}


.card .img-item{
    width: 100%;    
}

.titulo-item h4{    
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    font-weight: 100;
}
.precio-item {
    padding: 5px 0px 0px 10px;        
}
.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.redes a:hover{
    border: 2px solid #f6f6f6
}
footer  {
    text-align: center;
    background-color: #222222;
    color:#f6f6f6;
    padding: 20px 20px 5px 20px;
}

    /* Media Queries */
@media only screen and (min-width: 768px) {
        .categorias {
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 180px);
            grid-template-areas: 
            "img1 img1 img2 img2"
            "img1 img1 img2 img2"
            "img4 img8 img5 img5"      
            "img4 img8 img5 img5";   
        }
        .card {
            width: 22%;
        }

}



